%section#commons
	%h2= I18n.t('tog_social.profiles.site.title')
	%section.horizontal_links_layout.no_border
		%ul
		- @profiles.each do |profile|
			%li
				=link_to icon_for_profile(profile, 'small'), profile_path(profile), :title => profile.full_name
				%br
				=profile.full_name