.DS_Store
log/**/*
log
tmp/**/*
tmp
db/*.sqlite3
db/schema.rb
config/database.yml
config/facebooker.yml
config/initializers/oauth_consumers.rb
public/system/profiles/icons/**/*
public/system/groups/**/*
