@import surface_mixin_and_properties.sass

body  
	+main_body_font 
	background = !main_background_colour
	color = !main_foreground_colour 
	text-align: left

h1, h2, h3 
	font-weight: normal 
	font-family: Georgia, Times New Roman, Times, serif
	
h1  
	font-size = !large_heading_font_size
	
h2 
	font-size = !large_heading_font_size - !heading_font_size_difference
	color = !bright_highlight

h3 
	font-size = !large_heading_font_size - !heading_font_size_difference*2
	color = !light_highlight
	font-style: oblique

a	
	+bright_hyperlink_high_contrast
			
b, strong
	font-weight: bold

img 
	border: none

ul 
	list-style: circle

fieldset
	border: none

.block
	display: block

input
	font-size = !large_text_font_size
	background-color = !bright_foreground
	border:
		width: 1px
		style: solid
		color = !dull_foreground
.wide
	width: 88%
	
//article footer 
	background: #111
	
.header_title1 
	color = !main_foreground_colour
	font-size: 1.6em
	
.header_title2 
	color = !bright_highlight
	font-size: 1.6em

.notice
	+bright_round_notice_area

.notice_main
	+bright_round_notice_area
	a
		+dark_hyperlink_low_contrast

//.columns { -moz-column-count: 2; -webkit-column-count: 2; -moz-column-gap: normal; -webkit-column-gap: normal; }
//.columns sup { font-size:4em; font-family: Times New Roman, Times, serif; line-height:100%; text-decoration:none; }

.sidebar 
	font-size: 88%
	li
		list-style: circle

.sidebar a, footer a
	+bright_hyperlink_low_contrast
		
.sidebar .profiles 
	a, a:hover
		border-bottom: none
	li 
		list-style: none
	
//.sidebar .tag-cloud a, .sidebar .blog-list a { color: #bbb; border-bottom: 1px dotted #bbb; }
//.sidebar .tag-cloud a:hover, .sidebar .blog-list a:hover { color: #71aa5d; border-bottom: 1px dotted #71aa5d; }

p.meta 
	color = !dull_foreground
	font-size = !large_text_font_size - !text_font_size_difference*2
	line-height: 1.5em
	b
		color: #ccc
		font-weight: normal

.no_border
	border: none
	a
		border: none
	
.col-left, .col-right
	article
		header
			p
				a
					+bright_hyperlink_low_contrast
					font-weight: bold
			time
				font-size: smaller
		section
			a
				+bright_hyperlink_low_contrast
	footer
		background-color = !main_background_colour
		font-size: 100%		
		a
			+bright_hyperlink_high_contrast
					
.heading-explanatory
	+main_body_font 

.twitter
	border-bottom: none
	
	&:hover
		border-bottom: none
		
.button
	padding: 0.5em 1em
	color = !bright_foreground
	background-color = !dark_highlight
	font-size: 110%
	text-decoration: none
	text-shadow: 0 -1px 5px rgba(0,0,0,0.25)
	border: 1px solid rgba(0,0,0,0.25)
	-moz-border-radius: 5px
	-webkit-border-radius: 5px
	-moz-box-shadow: 0 1px 3px rgba(0,0,0,0.5)
	-webkit-box-shadow: 0 1px 3px rgba(0,0,0,0.5)
	cursor: pointer

.red
	background-color = !red

.grey
	background-color = !dull_foreground
	
.info_pane
	line-height: 1.5em
	+bright_round_notice_area(!bright_foreground,!dull_foreground-#444,"6px","6px","0","0")

.content_area
	+bright_round_notice_area(!bright_foreground,!dull_foreground-#555,"0","0","6px","6px")
	
//.comment-homepage { font-size: 90%; }
//.comment-header { font-size: 90%; }
//.comment-twitter-counter { font-size: 133% }
//.comment-twitter-counter-homepage { font-size: 133% }
//.blog-snippet { font-size: 90%; }

footer 
	background = !main_background_colour - #111
	color = !dull_foreground + #111
	padding: 1em 0 1em 4.5em
	font-size: 88%
	p 
		font-size: 12px
		line-height: 1.5em

#menu, #header_options, .cols-2
	+links_with_divide

#page, #container 
	padding: 1em 2em 
	z-index: 2

