article, header, nav, section, footer, address, aside { display: block; }
address { float: right; width: 20em; }
aside { margin: 0 0 4em 0; }
h1, p.meta { margin: 0; line-height: 1.2; }

.logo { float:left; margin-top:-2em;}
.jisclogo { float: left; margin: 0em 1em 1em 0; }

.projectTitle, .headerTitle1 { float: left; }
.headerTitle2 { margin-left:5px; float: right; display: inline; }
.notice { color: #666; background-color: #9cff96; padding: 8px 40px; font-size: 0.9em; border-top: 1px solid #9cff96; border-bottom: 1px solid #9cff96;	-webkit-border-radius: 6px; -moz-border-radius: 6px;  margin: 0 4em 0 0; float: right; }
.clearfloat { clear:both; height:0px; }

.columns { -moz-column-count: 2; -webkit-column-count: 2; -moz-column-gap: normal; -webkit-column-gap: normal; }
.columns sup { vertical-align: top; float:left; margin-right:15px;}

.sidebar { width: 24em; display:inline; float:right; margin-top: 12px; }
.sidebar ul { margin-left:-1em; width: 22em;}
.sidebar .profiles ul { display: block; margin-left: -33px;}
.sidebar .profiles li { float: left; margin-left: -8px;}
.sidebar .publicfeeds ul { margin-top: 8em;}

.comment { margin-bottom:5px; clear:both; overflow:auto; }
.comment-homepage { width: 50%; float: left; }
.commenter { margin-left: 75px; }
.comment-header { float:left; padding: 5px 5px 5px 5px; }
.comment-body { margin-left: 215px; padding: 10px 10px 10px 0; }
.comment-body-homepage { margin-left: 75px; margin-top: 5px; margin-right: 9px; }
.comment-twitter { float: right; margin-top: 0px; }
.comment-twitter-label { margin-right: 360px; }
.comment-twitter-label-homepage { margin-right: 133px; }
.comment-twitter-counter {  margin-right: 33px; }
.comment-twitter-counter-homepage {  margin-right: 20px; }

form .fields p { position: relative; margin: 0 0 1em 30%; padding: 0; clear: both; line-height: 1.2em;}
form .actions { text-align: left;}


#menu { margin-top: 7em; margin-left: 1em;}
#header_options { text-align: right;}
#page { margin: 0.3em 0em 0.3em 1em; z-index: 2; position: relative; width: 75em; }
#commons { position: relative; width: 48em; margin: 0 0 4em 1em; display:block; float:left; }
article footer { padding: 0; }

#twitter_update_list li { margin-bottom: 1em; }
#twitter_update_list span { display:block; }
#twitter-link { margin-left:2.3em; }

footer { display: block; clear: both; position: relative; overflow: auto; }
#footerContent { width: 85em; }
#footerCenter { width: 38em; float:right; margin: 0 2em 0 2em;}
#footerLeft { width: 54em;}