body { margin: 0 0; font: 14px/1.5 "Century Gothic"; background: #111; color: #bbb; position: relative; text-align: left;}

h1, h2, h3 { font-weight: normal; font-family:Georgia, Times New Roman, Times, serif; }
h1 { font-size: 25px; }
h2 { font-size: 20px; color: #9cff96; /*color: #47d415;*/ margin: 1em 0 0.3em 0; }
h3 { font-size: 16px; color: #71aa5d; margin: 1em 0 0 0; font-style:oblique; }

a { text-decoration: none; color: #eee; } 
a:hover { color: #9cff96; border-bottom: 1px dotted #9cff96;}
b, strong { font-weight: bold; }
img { padding: 5px; margin: 0; border:none; }

ul { list-style: circle; }
ol { list-style: upper-roman; }
dd { color: #aaa; }

p.meta { color: #777; font-size: 90%; }
p.meta b { color: #ccc; font-weight: normal; }

article footer { background: #111; }

.projectTitle{ width: 455px; }
.headerTitle1 { text-shadow: 2px 2px 2px #000; color: #bbb; font-size:1.6em; }
.headerTitle2 { text-shadow: 2px 2px 2px #000; width: 215px; color: #9cff96; font-size:1.6em; }

.clearfloat { clear:both; height:0px;}

.columns { -moz-column-count: 2; -webkit-column-count: 2; -moz-column-gap: normal; -webkit-column-gap: normal; }
.columns sup { font-size:4em; font-family: Times New Roman, Times, serif; line-height:100%; text-decoration:none; }

.sidebar { font-size:88%;}
.sidebar a { border-bottom: 1px dotted #71aa5d; color: #71aa5d;}
.sidebar a:hover { color: #9cff96; }
.sidebar .profiles a, .sidebar .profile a:hover { border-bottom: none; }
.sidebar .profiles li { list-style:none; } 
.sidebar .tag-cloud a, .sidebar .blog-list a { color: #bbb; border-bottom: 1px dotted #bbb; }
.sidebar .tag-cloud a:hover, .sidebar .blog-list a:hover { color: #71aa5d; border-bottom: 1px dotted #71aa5d; }
.meta { opacity: 0.9; }

.comment { background-color:#222; -moz-border-radius:5px; -webkit-border-radius:5px; }
.comment-homepage { font-size: 90%; }
.comment-header { font-size: 90%; }
.comment-twitter-counter { font-size: 133% }
.comment-twitter-counter-homepage { font-size: 133% }
.blog-snippet { font-size: 90%; }

footer { background: #000; color: #888; padding: 1em 0 1em 4.5em; font-size: 88%; }
footer p { font-size: 12px; line-height: 1.5em; }
footer a { color: #71aa5d; font-weight: normal; }
footer a:hover { color: #9cff96; }

#menu ul, #header_options ul { list-style-type: none;}
#menu li, #header_options li { list-style-type: none; display: inline; margin-right: 1em; padding-right:1em; border-right: 3px solid #046704; }
#menu li.on a { background: #111;  color: #9cff96; }
#menu li.last, #header_options li.last { border-right: 0px; }
#menu li a { background: #111;  }

#page, #container { padding: 1em 2em; z-index: 2; }
#commons a { border-bottom: 1px dotted #777; }
#twitter-link { border:none; }



