%section#commons
	%article
		%h5 Welcome, UX collective
		%section
			%p 
				Hi, UX2.0 is a project funded by 
				%a{:href=>"http://www.jisc.ac.uk/whatwedo/programmes/inf11.aspx"} JISC
				(Information Environment Programme 2009-11) 
				to undertake research and development to enhance user experience of 
				digital libraries, through technological developments that are centered on 
				usability inspection and evaluation.
	%article
		%h5 Last but not Least..
		%section
			%p
				:markdown
					The [AquaBrowser User Experience](https://www.wiki.ed.ac.uk/display/UX2/AquaBrowserUX)
					project has come to an end. We have been busy in the past months undertaking various
					activities: user research for personas, contextual inquiry and finally a bout of usability test,
					assessing Edinburgh University Library users in actions with AquaBrowser. The project consultant
					has published a [report for the test](http://bit.ly/aquxusabilityreport). You are welcome to
					check out the video below, highlighting the user reaction and behaviour:
			%p
				:markdown
					- [Facet Navigation](http://ux2.nesc.ed.ac.uk:8080/fedora/get/lib:10186/mp4)
					- [Information Seeking](http://ux2.nesc.ed.ac.uk:8080/fedora/get/lib:10187/mp4)
					- [Word Cloud](http://ux2.nesc.ed.ac.uk:8080/fedora/get/lib:10187/mp4)
			%p
				:markdown
					We have been inundated with the amount and the variety of user data from
					this project and hope to have an opportunity to synthesise them later.
					
	%h5 Project Blogs
	%hr
	%section.blog_listing.col_left
		%header
			%img{:src=>"/images/boon.jpg"}
			%section
				%h6 Enhancing User Interactions
				%p
					%a{:href=>"http://homepages.ed.ac.uk/boon"} Boon Low,
					%a{:href=>"http://boonious.typepad.com/ux2/"} Blog
					%br
					Manager, Developer

		- @boon_feed.entries[0..2].each do |entry|
			%article
				%header
					%p
						%strong
							%a{:href=>entry.url} 
								=entry.title
					%time{:datetime=>entry.date_published.strftime("%Y-%m-%dT%I:%M%:%SZ")}
						=entry.date_published.strftime("%d %B %Y, %I:%M%p")						
				%section
					:markdown
						#{entry.description.to_s.split(/\s/)[0..48].join(' ')} [...] [more](#{entry.url})
		%footer
			%a{:href=>"http://boonious.typepad.com/ux2"} Other posts from this blog..
		
	%section.blog_listing.col_right
		%header
			%img{:src=>"/images/lorraine.jpg"}
			%section
				%h6 Researching Usability
				%p
					%a{:href=>"http://twitter.com/lorraine_p"} Lorraine Paterson,
					%a{:href=>"http://lorrainepaterson.wordpress.com/"} Blog
					%br
					Usability Analyst

		- @lorraine_feed.entries[0..2].each do |entry|
			%article
				%header
					%p
						%strong
							%a{:href=>entry.url} 
								=entry.title
					%time{:datetime=>entry.date_published.strftime("%Y-%m-%dT%I:%M%:%SZ")}
						=entry.date_published.strftime("%d %B %Y, %I:%M%p")
				%section
					:markdown
						#{entry.description} [more](#{entry.url})
		%footer
			%a{:href=>"http://lorrainepaterson.wordpress.com/"} Other posts from this blog..
			
- content_for :sidebar do
	%aside.sidebar
		%h5 User Research, Evaluation
		%hr
		%section
			%ul
				%li
					:markdown
						Usability Inspection of Digital Libraries: [full report](http://bit.ly/ux2inspectionreport), 
						[Ariadne highlight article](http://www.ariadne.ac.uk/issue63/paterson-low/)
				%li
					:markdown
						 AquaBrowser User Experience (AquaBrowserUX) project: 
						[website](https://www.wiki.ed.ac.uk/display/UX2/AquaBrowserUX),
						[summative blog post](http://lorrainepaterson.wordpress.com/2010/10/20/aquabrowserux-final-project-post/),
						[personas development](http://lorrainepaterson.wordpress.com/tag/aquabrowserux-personas/),
						[contextual inquiry](http://boonious.typepad.com/ux2/2010/08/going-in-the-wild.html),
						[usability test report](http://bit.ly/aquxusabilityreport)
				%li
					:markdown
						Interactive Triptych Framework
						[review](http://library.nesc.ed.ac.uk/document/ITFReview1.0.pdf)
				%li
					:markdown
						Other resources: 
						AquaBrowserUX usability test video highlights: [faceted navigation](http://bit.ly/aquxvideo1),
						[information seeking](http://bit.ly/aquxvideo2),
						[word cloud](http://bit.ly/aquxvideo2).
						
						*user interview data* (audio clips) *interview scripts*, 
						*guerilla test plan*, *diary study script* (forthcoming)
						
		
		%h5 Technology
		%hr
		%section
			%ul
				%li 
					:markdown
						Digital Library: previous **[Blacklight prototype](http://library.nesc.ed.ac.uk:8080/)** (Ruby on Rails)
						and **[Java-based front-end](http://library.nesc.ed.ac.uk/)** for Fedora repository
				%li
					:markdown
						Digital Library in development - **[ux2-library prototype](http://ux2.nesc.ed.ac.uk:3000)** (Blacklight-engined), 
						**low-fi prototypes** (Balsamiq)
				%li
					:markdown
						Code: **[ux2-library](http://github.com/boonious/ux2library)** (Blacklight app) 
						and **[ux2-web](http://github.com/boonious/ux2web)** (this website) a [tog](http://www.toghq.com/)-based application
				%li
					:markdown 
						Code: modifications of [tog](http://www.toghq.com/) social network platform: 
						**[tog_core](http://github.com/boonious/tog_core)**,
						**[tog_user](http://github.com/boonious/tog_user)** 
						and **[tog_social](http://github.com/boonious/tog_social)**, 
				%li
					:markdown
						Other resources: **[miscellaneous files](http://github.com/boonious/misc)** from the project's 
						Solr and Fedora development
				
		
		%h5 Twitter Updates
		%hr
		%section
			#twitter_div
				%ul#twitter_update_list
				%a#twitter-link{:href=>"http://twitter.com/ux2", :style=>"display:block;text-align:left;"} More.. via Twitter
			%script{:type=>"text/javascript",:src=>"http://twitter.com/javascripts/blogger.js"}
			%script{:type=>"text/javascript",:src=>"http://twitter.com/statuses/user_timeline/ux2.json?callback=twitterCallback2&amp;count=6"}