%section#commons
	%article
		%header
			%h2 Welcome, UX collective
			%p.meta
				%time{:datetime => "2009-05-12T09:00:00Z"} 12 May 2009
		%section
			%p 
				Hi, UX2.0 is a project funded by 
				%a{:href=>"http://www.jisc.ac.uk/whatwedo/programmes/inf11.aspx"} JISC
				(Information Environment Programme 2009-11) 
				to undertake research and development to enhance user experience of 
				digital libraries, through technological developments that are centered on 
				usability inspection and evaluation.
				
- content_for :sidebar do
	%aside.sidebar
		%section
			%h3 Continuum...
			%section.profiles 
				%ul
					- last_users.each do |user|
						%li=link_to icon_for_profile(user.profile, 'small'), profile_path(user.profile)
			%br.clearfloat
			%section
				%ul
					=public_continuum(5)
		%section
			%h3 Twitter Updates
			#twitter_div
				%ul#twitter_update_list
				%a#twitter-link{:href=>"http://twitter.com/ux2", :style=>"display:block;text-align:left;"} More.. via Twitter
			%script{:type=>"text/javascript",:src=>"http://twitter.com/javascripts/blogger.js"}
			%script{:type=>"text/javascript",:src=>"http://twitter.com/statuses/user_timeline/ux2.json?callback=twitterCallback2&amp;count=4"}